/* Start Header Section */
header{
  font-family: "Impact", Charcoal, sans-serif;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #e9e9e9;
  position: fixed;
  z-index: 2;
}

#logo{
  position: fixed;
  margin-top: 0.5em;
  margin-left: 1em;
  width: 9em;
}

h1{
  margin-left: 10%;
}
/* End Header section, Start Nav Section */
nav{
  background-color: #1E73AC;
  padding: 0.5em;
  padding-left: 10%;

}

nav a{
  color: #F3FEFF;
  font-family: "Arial", Charcoal, sans-serif;
}

/* nav anchor hover styling*/

nav a:hover{
  color: #2EE3FF;
}

#current_page{
  color: #2EE3FF;
}

/* end nav section, start body styling */

body {
  background: linear-gradient(to right, #009fe3 0%,#009fe3 50%, 50%, #621361 50%, #621361 100%);
}

section {
  position: absolute;
  height: auto;
  top: 12%;
  left: 10%;
  width: 75%;
  bottom: -40%;
  background-color: white;
  padding-top: 3em;
  padding-left: 3em;
}

#mapDiv {
  width: 500px;
  height: 350px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1
}

input[type=checkbox] {
  transform: scale(2);
}

#settingsMenu {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
  line-height: 5em;
}

#legendid{
  font-family: Arial;
  font-size: 95%;
  display: inline-block;
  padding-left:10px;
}

#fieldsetid{
  padding-left:15px;
  width:500px;
  display: inline-block;
  height: 200px;
}

input[type=text], input[type=password] {
  width: 70%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 20px;
  background: #f1f1f1;
}

.FormTitle {
  font-family: verdana;
  font-size: 100%;
  padding : 4px;
  margin: 10px;

}


.EmailPass{
  font-family: verdana;
  font-size: 100%;
  padding : 4px;
  margin: 10px;

}

.Name{
  position: relative ;
  padding :10px;
  margin: 10px;
  font-size:100
}

/*.textbox{
  position: relative ;
  padding :7px;
  margin: 5px;
}*/

button {
    background-color: #4CAF50;
    color: white;
    display:block;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
}

button:hover {
  opacity: 1;
}

.cancelbtn{
  padding: 14px 20px;
  background-color:#9933ff;
border-radius: 25px;
}

.signupbtn{
  background-color: #0066ff;
  border-radius: 25px;
}
