/* Start Header Section */
header{
  font-family: "Impact", Charcoal, sans-serif;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #e9e9e9;
  position: fixed;
  z-index: 2;
}

#logo{
  position: fixed;
  margin-top: 0.5em;
  margin-left: 0.5em;
  width: 4em;
}

h1{
  margin-left: 10%;
}
/* End Header section, Start Nav Section */
nav{
  background-color: #1E73AC;
  padding: 0.5em;
  padding-left: 10%;

}

nav a{
  color: #F3FEFF;
  font-family: "Arial", Charcoal, sans-serif;
}

/* nav anchor hover styling*/

nav a:hover{
  color: #2EE3FF;
}

#current_page{
  color: #2EE3FF;
}

body {
  background: linear-gradient(to right, #009fe3 0%,#009fe3 50%, 50%, #621361 50%, #621361 100%);
}

section {
  position: absolute;
  height: auto;
  top: 15%;
  left: 12.5%;
  width: 75%;
  bottom: 0;
  background-color: white;
  line-height: 1.6;
}

#mapDiv {
  width: 500px;
  height: 350px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
  }
