/* Start Header Section */
header{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #e9e9e9;
  position: fixed;
  z-index: 2;
}

#logo{
  position: fixed;
  margin-top: 0.5em;
  margin-left: 1em;
  width: 9em;
}

h1{
  margin-left: 10%;
}
/* End Header section, Start Nav Section */
nav{
  background-color: #1E73AC;
  padding: 0.1em;
  padding-left: 10%;

}

nav a{
  color: #F3FEFF;
  font-family: "Arial", Charcoal, sans-serif;
}

/* nav anchor hover styling*/

nav a:hover{
  color: #2EE3FF;
}

#current_page{
  color: #2EE3FF;
}

/* end nav section, start body styling */

body {
  background: linear-gradient(to right, #009fe3 0%,#009fe3 50%, 50%, #621361 50%, #621361 100%);
}

section {
  position: absolute;
  height: auto;
  top: 12%;
  left: 10%;
  width: 75%;
  bottom: -40%;
  background-color: white;
  padding-top: 3em;
  padding-left: 3em;
}

#mapDiv {
  width: 500px;
  height: 350px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1
}

input[type=checkbox] {
  transform: scale(2);
}

#settingsMenu {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
  line-height: 5em;
}

#legendid{
  font-family: Arial;
  font-size: 150%;
  display: inline-block;
  padding-left:20px;
  padding-right:20px;
}

#fieldsetid{
  padding-left:15px;
  padding-bottom: 30px;
  padding-top: 30px;
  width:auto;
  display: inline-block;

}

input[type=text], input[type=password] {
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 20px;
  background: #f1f1f1;
}

.FormTitle {
  font-family: verdana;
  font-size: 100%;
  padding : 4px;
  margin: 10px;

}


.EmailPass{
  font-family: verdana;
  width:50%;
  font-size: 100%;


}

.Name{
  /*position: relative ;*/
  padding :10px;
  margin: 10px;
  width:auto;
  font-size:100%;
}

/*.textbox{
  position: relative ;
  padding :7px;
  margin: 5px;
}*/

button {
    background-color: #4CAF50;
    color: white;
    display:block;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
}

button:hover {
  opacity: 1;
}

.cancelbtn{
  padding: 14px 20px;
  background-color:#9933ff;
  border-radius: 25px;
}

.signupbtn{
  background-color: #0066ff;
  border-radius: 25px;
}

#homeBanner {
  position: absolute;
  left: 0;
  width: 100%;
  height: 300px;
  background: URL("../img/homeBannerIMG.png") no-repeat;
  background-size: cover;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}

#bannerMain {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  padding-left: 35px;
  padding-right: 20px;
  font-size: 55px;
  color: white;
  -webkit-text-stroke: 1.5px black;
}

#bannerSub {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 1px black;
  margin-top: -60px;
  margin-left: 240px;
  font-size: 25px;
}

#loginBtnHome {
  display: block;
  border-radius: 20px;
  border: solid white 3px;
  margin-left: 1100px;
  margin-top: -120px;;
}

#homeInfo {
  display: block;
  margin-top: 350px;
  font-family: "Arial", sans-serif;
  width: 60%;
  border-right: solid black 1px;
}

#homeInfo p {
  line-height: 1.3em;
  font-size: 18px;
  width: 90%;
}

#homeInfo h2 {
  font-size: 32px;
  width: 90%;
}
